@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400&display=swap');

* {
  box-sizing: border-box; }

body {
  width: 100vw;
  min-height: 100vh;
  overflow: auto; }

body {
 
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Noto Sans Display', sans-serif; }



.toc {
  /*background-color: rgba(245, 245, 245, 0.425);
  border: 2px solid rgb(83, 80, 80);
  border-radius: 5px;*/
  position: fixed;
  width: 200px;
  left: 2em;
  top:10em;
  line-height: 2; 
  padding: 10px;
  z-index: 20;
}
  .toc ul {
    
    list-style: none;
    padding: 0;
    margin: 0; }
  .toc ul ul {
    padding-left: 2em; }
  .toc li a {
    
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .toc li.visible > a {
    color: #111;
    transform: translate(5px); }

.toc-marker {
  box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
  
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .toc-marker path {
    transition: all 0.3s ease; }

.contents {
  background: white;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 80px;
  position:absolute;
  font-size: 1.2em;
  font-family: 'Noto-sans', sans-serif; }
  .contents a {
    color:blue;
    font-family: 'Noto-sans', sans-serif;
     }
     .contents p {
      color:black;
      font-family: 'Noto-sans', sans-serif;
       }
  .contents img {
    max-width: 100%; }

  .contents h2
h3 {
    padding-top: 1em;
    font-family: 'Noto-sans', sans-serif; }
  .contents h2 {
    margin-top: 1.2em;
    font-family: 'Noto-sans', sans-serif; }

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px; } }
   
#hero {
      background-image: url("../assets/engineering/DSC01046.jpeg");
      width: 100%;
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-attachment: fixed;
     
      
  }
#hero h1{
  font-size: calc(10px + 7vw);
  text-rendering: optimizeLegibility;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-container {
  display: grid  inline-grid;
  grid-template-columns: 
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr;
  
  grid-template-rows: 
    min-content 1fr min-content
      100px 1fr max-content;
}